# <center> Visualization with Python: Basic Plot Data with matplotlib</center>

This course is devoted to student of Undergraduate Student of Informatics, Telkom University. 

Detail of Course


*   Course Name: (CSH4W3) Data Visualization

*   Lecturer: Dr. Putu Harry Gunawan


---

This course inlcude basic review of Python using numpy and pandas.

# Basic Python

**Variabels**

In [0]:
A =  
B =  
C =  
print(A)
print(B)
print(C)

Arrays

In [0]:
cars = [ ]

length = len(cars)

print(cars)
print(length)

Get the first element and the last element

In [0]:
x = cars[0]
print(x)

x = cars[-1]
print(x)

Adding, delete by index and value

In [0]:
#Adding Honda
cars.append("Honda")
print(cars)

#Delete third element
cars.pop(2)
print(cars)

#Remove Volvo
cars.remove("Volvo")
print(cars)

Loop process

In [0]:
for x in cars:
  print(x)

In [0]:
for i in range(0,len(cars)):
  print(cars[i])

**NumPy**

NumPy is a general-purpose array-processing package. It provides a high-performance multidimensional array object, and tools for working with these arrays.

In [0]:
# Python program to demonstrate 
# array creation techniques 
import numpy as np 

Vec = 
Vec

In [0]:
# Creating array from list with type float 
a = np.array( ) 
print ("Array created using passed list:\n", a) 

# Creating array from tuple 
b = np.array( ) 
print ("\nArray created using passed tuple:\n", b) 

# Creating a 3X4 array with all zeros 
c = np.zeros( ) 
print ("\nAn array initialized with all zeros:\n", c) 

# Create a constant value array of complex type 
d = np.full( ) 
print ("\nAn array initialized with all 6s."
			"Array type is complex:\n", d)

In [0]:
# Create an array with random values 
e =  
print ("\nA random array:\n", e)

In [0]:
# Create a sequence of integers 
# from 0 to 30 with steps of 5 
f = 
print ("\nA sequential array with steps of 5:\n", f) 

# Create a sequence of 10 values in range 0 to 5 
g = 
print ("\nA sequential array with 10 values between"
										"0 and 5:\n", g)

In [0]:
# Reshaping 3X4 array to 2X2X3 array 
arr = np.array([[1, 2, 3, 4], 
				[5, 2, 4, 2], 
				[1, 2, 0, 1]]) 

newarr =  

print ("\nOriginal array:\n", arr) 
print ("Reshaped array:\n", newarr)

In [0]:
# Flatten array 
arr = np.array([[1, 2, 3], [4, 5, 6]]) 
flarr = 

print ("\nOriginal array:\n", arr) 
print ("Fattened array:\n", flarr)

**Array Indexing**: Knowing the basics of array indexing is important for analysing and manipulating the array object. NumPy offers many ways to do array indexing.



*   **Slicing**: Just like lists in python, NumPy arrays can be sliced. As arrays can be multidimensional, you need to specify a slice for each dimension of the array.
*   **Integer array indexing**: In this method, lists are passed for indexing for each dimension. One to one mapping of corresponding elements is done to construct a new arbitrary array.
*   **LBoolean array indexing**: This method is used when we want to pick elements from array which satisfy some condition.

In [0]:
# Python program to demonstrate 
# indexing in numpy 
import numpy as np 

# An exemplar array 
arr = np.array([[-1, 2, 0, 4], 
				[4, -0.5, 6, 0], 
				[2.6, 0, 7, 8], 
				[3, -7, 4, 2.0]]) 

# Slicing array 
temp = arr[:2, ::2] 
print ("Array with first 2 rows and alternate"
					"columns(0 and 2):\n", temp)

In [0]:
# Integer array indexing example 
temp =  
print ("\nElements at indices (0, 3), (1, 2), (2, 1),"
									"(3, 0):\n", temp)

In [0]:
# boolean array indexing example 
cond = arr > 0 # cond is a boolean array 
temp = arr[cond] 
print ("\nElements greater than 0:\n", temp)

**Basic operations**: Plethora of built-in arithmetic functions are provided in NumPy.



*   **Operations on single array**: We can use overloaded arithmetic operators to do element-wise operation on array to create a new array. In case of +=, -=, *= operators, the exsisting array is modified.

In [0]:
# Python program to demonstrate 
# basic operations on single array 
import numpy as np 

a = np.array([1, 2, 5, 3]) 

# add 1 to every element 
print ("Adding 1 to every element:",  ) 

# subtract 3 from each element 
print ("Subtracting 3 from each element:",  ) 

# multiply each element by 10 
print ("Multiplying each element by 10:",  ) 

# square each element 
print ("Squaring each element:",  ) 

# modify existing array 
a *= 2
print ("Doubled each element of original array:",  ) 

# transpose of array 
a = np.array([[1, 2, 3], [3, 4, 5], [9, 6, 0]]) 

print ("\nOriginal array:\n", ) 
print ("Transpose of array:\n",  )


*   **Binary operators**: These operations apply on array elementwise and a new array is created. You can use all basic arithmetic operators like +, -, /, , etc. In case of +=, -=, = operators, the exsisting array is modified.

In [0]:
# Python program to demonstrate 
# binary operators in Numpy 
import numpy as np 

a = np.array([[1, 2], 
			[3, 4]]) 
b = np.array([[4, 3], 
			[2, 1]]) 

# add arrays 
print ("Array sum:\n",  ) 

# multiply arrays (elementwise multiplication) 
print ("Array multiplication:\n",  ) 

# matrix multiplication 
print ("Matrix multiplication:\n",  ) 
#print ("Matrix multiplication:\n", a@b) 

# inverse matrix 
print ("Inverse of Matrix a:\n",  ) 
#print ("Matrix multiplication:\n", a@b)

Define a function

In [0]:
def function(x):

Dataframe and data

In [0]:
import pandas as pd

url = 'http://bit.ly/Test-PHN'
data = pd.read_csv(url, index_col=0)

Convert dataframe to array

In [0]:
A =  

A

# Basic Plot

Plot a function $\sin(x)$ where $x \in [0,2\pi]$

In [0]:
import matplotlib.pyplot as plt
import numpy as np

#make an array x which consits of 100 points with range (0,2*pi)
x = np.linspace(0,2*np.pi,100)

#plot
plt.plot(np.sin(x))

Add show() function

label, legend and title

In [0]:
plt.xlabel( )
plt.ylabel( )

plt.plot(np.sin(x), color='red', linewidth=3)

plt.legend(('sin(x)',), loc='upper right')
plt.title( )
plt.show()

add grid()

In [0]:


plt.grid()

Font size of label and title

In [0]:
plt.xlabel( )
plt.ylabel( )

plt.grid()

plt.plot(np.sin(x), color='red', linewidth=3)

plt.legend(('sin(x)',), loc='upper right')
plt.title('Plot sin(x)', fontsize=20)
plt.show()

Tickx label font size

In [0]:
plt.xlabel('x', fontsize=20)
plt.ylabel('y', fontsize=20)

plt.tick_params( )

plt.grid()

plt.plot(np.sin(x), color='red', linewidth=3)

plt.legend(('sin(x)',), loc='upper right')
plt.title('Plot sin(x)', fontsize=20)
plt.show()

Save figure

In [0]:
plt.xlabel('x', fontsize=20)
plt.ylabel('y', fontsize=20)
plt.tick_params(direction='out', length=6, width=2, colors='blue',
               grid_color='green', grid_alpha=0.5, labelsize=20)
plt.grid()

plt.plot(np.sin(x), color='red', linewidth=3)

plt.legend(('sin(x)',), loc='upper right')
plt.title('Plot sin(x)', fontsize=20)

plt.savefig('fig_png.png', dpi=None, facecolor='w', edgecolor='w',
        orientation='portrait')

plt.show()

**Exercise 1**

Make a plot of two functions $\sin(x)$ and $\cos(x)$ where $x \in (0, 4\pi)$. Note please define a function of sin and cos separately

In [0]:
import matplotlib.pyplot as plt
import numpy as np

def fsin(x):
  return

def fcos(x):
  return

#define variable x

#plot the functions

**Exercise 2**

Make a plot of a function $f(x)=x^2 -2x+2$ where $x \in [0, 100]$. Note please define a function of sin and cos separately

In [0]:
import matplotlib.pyplot as plt
import numpy as np

def f(x):
  return


#define variable x

#plot the functions

**Exercise 3**

Make a plot as the folowing figure, with random value

<img src = "https://i.imgur.com/CdgWJiM.png" align = "center">

In [0]:
import matplotlib.pyplot as plt
import numpy as np

# Categorial plot

Plot in subplot with bar and scatter

In [0]:
import matplotlib.pyplot as plt

data = {'apples': 10, 'oranges': 15, 'lemons': 5, 'limes': 20}

names = list(data.keys())
values = list(data.values())
print(names)
print(values)

plt.plot(names,values)
plt.show()

Subplot

In [0]:
fig, axs = plt.subplots(1, 3)
axs[0].
axs[1]. 
axs[2]. 
fig.suptitle('Categorical Plotting')
plt.show()

Show in figsize and share y label

In [0]:
fig, axs = plt.subplots(1, 3, figsize=(9,3), sharey=True)
axs[0]. 
axs[1]. 
axs[2]. 
fig.suptitle('Categorical Plotting')
plt.show()

**Exercise 4**

Make a plot with sub plot as the following example

<img src = "https://i.imgur.com/9JrII2T.png" align = "center">

In [0]:
fig, axs = plt.subplots(2, 2, figsize=(6,6))
 
fig.suptitle('Categorical Plotting')
plt.show()

**Homework**

Find any 4 data sets in internet and plot with subplot as previous example

# Bar and pie chart

**Stacked bar graph**

In [0]:
import numpy as np
import matplotlib.pyplot as plt


N = 5
menMeans = (20, 35, 30, 35, 27)
womenMeans = (25, 32, 34, 20, 25)
menStd = (2, 3, 4, 1, 2)
womenStd = (3, 5, 2, 3, 3)
ind = np.arange(N)    # the x locations for the groups
width = 0.35       # the width of the bars: can also be len(x) sequence

p1 = plt.bar( )
p2 = plt.bar( )

plt.ylabel('Scores')
plt.title('Scores by group and gender')
plt.xticks(ind, ('G1', 'G2', 'G3', 'G4', 'G5'))
plt.yticks(np.arange(0, 81, 10))
plt.legend((p1[0], p2[0]), ('Men', 'Women'))

plt.show()

**Horizontal bar chart**

In [0]:
import matplotlib.pyplot as plt
import numpy as np

# Fixing random state for reproducibility
np.random.seed(19680801)


plt.rcdefaults()
fig, ax = plt.subplots()

# Example data
people = ('Tom', 'Dick', 'Harry', 'Slim', 'Jim')
y_pos = np.arange(len(people))
performance = 3 + 10 * np.random.rand(len(people))
error = np.random.rand(len(people))

ax.barh( )
ax.set_yticks(y_pos)
ax.set_yticklabels(people)
ax.invert_yaxis()  # labels read top-to-bottom
ax.set_xlabel('Performance')
ax.set_title('How fast do you want to go today?')

plt.show()

**Pie chart**

In [0]:
import matplotlib.pyplot as plt

# Pie chart, where the slices will be ordered and plotted counter-clockwise:
labels = 'Frogs', 'Hogs', 'Dogs', 'Logs'
sizes = [15, 30, 45, 10]
explode = (0, 0.1, 0, 0)  # only "explode" the 2nd slice (i.e. 'Hogs')

fig1, ax1 = plt.subplots()
ax1.pie()
ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.

plt.show()